@keyframes enter {
    from {
        transform: translateY(160px);
    }

    to { 
        transform: translateY(0);
    }
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    animation: enter 0.5s ease-in;
}

.banner {
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90vh;
    padding-top: 20vh; 
    width: 90%;
    background-image: url(../../../Assets/banner.jpg);
}